.infcont .c1,
.infcont .c2 {
  padding: 50px;
  text-align: left;
}

.infcont .divider {
  width: 20%;
  height: 3px;
  background-color: rgba(255, 192, 203, 0.562);
  margin-bottom: 20px;
}

.infcont .c2 .divider {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.24);
  height: 1px;
}

.infcont .c1 .formcontvc {
  margin-top: 50px;
}
