.header-top {
  background: #ffd8cb;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  height: 52px;
}

.header-top-title {
  font-weight: 700;
  font-size: 14px;
  color: #151515b4;
  line-height: 1.5;
  padding: 0;
  margin-right: 10px;
}

.header-top-item {
  font-weight: 500;
  font-size: 14px;
  color: #151515b4;
  line-height: 1.5;
  padding: 0;
}

.icon-contacto {
  color: rgba(21, 21, 21, 0.3);
}
