#root {
  margin: 0 auto;
  text-align: center;
}

.btn {
  color: #151515;
  background-color: #ffd8cb;
  font-size: 14px;
  line-height: 24px;
  border: 2px solid;
  border-color: #ffd8cb;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-radius: 25px;
  padding: 11px 20px;
  height: auto;
  width: auto;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #151515;
  background-color: #fcc7b6;
  border-color: #fcc7b6;
}

.hide-on-large-only {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .show-on-large-only {
    display: none !important;
  }
  .hide-on-large-only {
    display: table !important;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in-animation 1s forwards;
}

@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
